<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>index</title>
</head>
<body>
  <% if (!user) { %>
    <h2>Welcome! Please log in. <a href="/login">LOGIN</a></h2>
  <% } else { %>
    <h2>Hello, <%= JSON.stringify(user) %>.</h2>
    <p><%= user.friends %></p>
  <% } %>
</body>
</html>